body {
  background-color: white;
  margin: 0px;
}

a {
  text-decoration: none;
  color: white;
}

ol {
  padding: 0px;
}

@keyframes animated-arrow {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(50%);
  }
}
@keyframes animated-box-to-right {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes animated-box-to-left {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes animated-box-to-bottom {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}
@media (max-width: 420px) {
  .top-site__nav__contact {
    border-radius: 30px;
    background-color: #fad400;
    color: black !important;
    font-family: "Fraunces", serif !important;
    padding: 15px;
    font-weight: 900;
  }
}
@media (min-width: 420px) {
  .top-site__nav__contact {
    width: 140px;
    background-color: rgba(120, 210, 254, 0.5);
    padding: 15px 25px 15px 25px;
    border-radius: 25px;
  }
}
@media (min-width: 1440px) {
  .top-site__nav__about {
    display: inline-block;
    position: relative;
  }
  .top-site__nav__about > span {
    z-index: 10;
    position: relative;
  }
  .top-site__nav__about::after {
    transition: all 170ms ease-in-out;
    content: "";
    display: block;
    transform: scaleX(0);
    transform-origin: left;
    width: 61px;
    height: 5px;
    position: absolute;
    border-radius: 5px;
    top: 14px;
    background-color: #fe7867;
    opacity: 0.8;
  }
  .top-site__nav__about:hover::after {
    transform: scaleX(1);
  }
  .top-site__nav__services {
    display: inline-block;
    position: relative;
  }
  .top-site__nav__services > span {
    z-index: 10;
    position: relative;
  }
  .top-site__nav__services::after {
    transition: all 170ms ease-in-out;
    content: "";
    display: block;
    transform: scaleX(0);
    transform-origin: left;
    width: 84px;
    height: 5px;
    position: absolute;
    border-radius: 5px;
    top: 14px;
    background-color: #fad400;
    opacity: 0.8;
  }
  .top-site__nav__services:hover::after {
    transform: scaleX(1);
  }
  .top-site__nav__projects {
    display: inline-block;
    position: relative;
  }
  .top-site__nav__projects > span {
    z-index: 10;
    position: relative;
  }
  .top-site__nav__projects::after {
    transition: all 170ms ease-in-out;
    content: "";
    display: block;
    transform: scaleX(0);
    transform-origin: left;
    width: 85px;
    height: 5px;
    position: absolute;
    border-radius: 5px;
    top: 14px;
    background-color: #75da86;
    opacity: 0.8;
  }
  .top-site__nav__projects:hover::after {
    transform: scaleX(1);
  }
  .top-site__nav__contact {
    transition: all 200ms;
    color: black;
    background: linear-gradient(to left, white 50%, #1b96d3 50%) right;
    background-size: 200% 100%;
  }
  .top-site__nav__contact:hover {
    background-position: left;
    color: white;
  }
}
@media (max-width: 420px) {
  .top-site__nav {
    position: relative;
    background-color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 320px;
    width: 300px;
    color: #5a636c;
  }
  .top-site__nav > a {
    font-family: "Barlow", sans-serif;
    margin: 20px;
    font-size: 20px;
  }
  .top-site__nav > a:visited {
    color: #5a636c;
  }
  .top-site__nav::after {
    content: " ";
    width: 0px;
    height: 0px;
    border-bottom: 24px solid white;
    border-left: 24px solid transparent;
    position: absolute;
    top: -24px;
    right: 0px;
  }
  .top-site__nav__contact {
    margin: auto !important;
    margin-top: 30px !important;
    width: 120px;
  }
  .top-site__nav__about {
    margin-top: 30px !important;
  }
}
.mid-content__text {
  background-color: white;
  display: block;
}
.mid-content__text > P {
  font-family: "Barlow", sans-serif;
  line-height: 1.5em;
  color: #5a636c;
}
.mid-content__text > h3 {
  text-align: center;
  color: #23303e;
  font-family: "Fraunces", serif;
  font-weight: 900;
}
.mid-content__text > a {
  color: #23303e;
  display: block;
  text-align: center;
  font-family: "Fraunces", serif;
  font-weight: 900;
  position: relative;
}
.mid-content__text > a > p {
  position: absolute;
  z-index: 20;
}
.mid-content__text > a > div {
  z-index: 10;
  position: absolute;
  border-radius: 5px;
}
.mid-content .btn-learn-more__one > div {
  background-color: #fdd302;
}
.mid-content .btn-learn-more__two > div {
  background-color: pink;
}
.mid-content .article-design > h3 {
  text-align: center;
  color: #23303e;
  font-family: "Fraunces", serif;
  font-weight: 900;
}
.mid-content .article-design > p {
  font-family: "Barlow", sans-serif;
  text-align: center;
  line-height: 1.5em;
  color: #5a636c;
}
.mid-content .article-design > .cherry-p {
  color: #25564b;
}
.mid-content .article-design > .orange-p {
  color: #23303e;
}

@media (max-width: 420px) {
  .mid-content__text {
    width: auto;
  }
  .mid-content__text > p {
    text-align: center;
  }
  .mid-content__text > h3 {
    font-size: 32px;
  }
  .mid-content__text > a {
    height: 40px;
  }
  .mid-content__text > a > p {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .mid-content__text > a > div {
    top: 100%;
    left: 50%;
    height: 9px;
    width: 130px;
    transform: translate(-50%, -10%);
  }

  .egg-img {
    background: url("../img/mobile/image-transform.jpg");
  }

  .cup-img {
    background: url("../img/mobile/image-stand-out.jpg");
  }

  .mid-content__img {
    background-position: center !important;
    background-size: cover !important;
  }

  .article-design {
    background-position: top !important;
    background-size: cover !important;
    padding: 20px;
  }
  .article-design > h3 {
    margin-top: 350px;
    font-size: 32px;
  }
  .article-design__one {
    background: url("../img/mobile/image-graphic-design.jpg");
  }
  .article-design__two {
    background: url("../img/mobile/image-photography.jpg");
  }
}
@media (max-width: 1440px) and (min-width: 420px) {
  .mid-content__text > h3 {
    text-align: left;
    font-size: 32px;
    margin: 0px;
  }
  .mid-content__text > p {
    font-size: 18px;
    margin-top: 20px;
  }
  .mid-content__text > a > div {
    top: 28px;
    left: -7px;
    height: 10px;
    width: 130px;
  }

  .egg-img {
    background: url("../img/mobile/image-transform.jpg");
  }

  .cup-img {
    background: url("../img/mobile/image-stand-out.jpg");
  }

  .mid-content__img {
    background-position: center !important;
    background-size: cover !important;
  }

  .article-design {
    background-position: top !important;
    background-size: cover !important;
    padding: 30px;
  }
  .article-design__one {
    background: url("../img/desktop/image-graphic-design.jpg");
  }
  .article-design__two {
    background: url("../img/desktop/image-photography.jpg");
  }
  .article-design > h3 {
    font-size: 26px;
    margin-top: 270px;
  }
  .article-design > p {
    font-size: 18px;
  }
}
@media (min-width: 1440px) {
  .mid-content__one, .mid-content__four, .article-design__one {
    animation: animated-box-to-right 1s ease-in-out;
  }

  .mid-content__two, .mid-content__three, .article-design__two {
    animation: animated-box-to-left 1s ease-in-out;
  }

  .mid-content__one {
    animation-delay: 60ms;
  }
  .mid-content__two {
    animation-delay: 120ms;
  }
  .mid-content__three {
    animation-delay: 180ms;
  }
  .mid-content__four {
    animation-delay: 240ms;
  }

  .article-design__one {
    animation-delay: 300ms;
  }
  .article-design__two {
    animation-delay: 360ms;
  }

  .mid-content__text {
    padding: 100px 120px;
  }
  .mid-content__text > h3 {
    font-size: 52px;
    text-align: left;
  }
  .mid-content__text > p {
    font-size: 20px;
  }
  .mid-content__text > a > div {
    width: 120px;
    height: 10px;
    border-radius: 5px;
    top: 29px;
    left: -2px;
    transition: all 160ms ease-in-out;
  }

  .btn-learn-more__one:hover > div {
    transform: scaleX(3.3) scaleY(3.3);
    border-radius: 50%;
    width: 15px;
    height: 15px;
  }

  .btn-learn-more__two:hover > div {
    transform: scaleX(3.3) scaleY(3.3);
    border-radius: 50%;
    width: 15px;
    height: 15px;
  }

  .egg-img {
    background: url("../img/desktop/image-transform.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .cup-img {
    background: url("../img/desktop/image-stand-out.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .article-design {
    background-position: center !important;
    background-size: cover !important;
    padding: 150px 200px;
  }
  .article-design > h3 {
    margin-top: 330px;
    font-size: 32px;
  }
  .article-design > p {
    font-size: 18px;
  }
  .article-design__one {
    background: url("../img/desktop/image-graphic-design.jpg");
  }
  .article-design__two {
    background: url("../img/desktop/image-photography.jpg");
  }
}
.client-testimonials {
  text-align: center;
}
.client-testimonials > h3 {
  color: #818498;
  letter-spacing: 2px;
  font-family: "Fraunces", sans-serif;
}
.client-testimonials > .opinion-box > img {
  border-radius: 50%;
  margin: auto;
  display: block;
}
.client-testimonials > .opinion-box > blockquote {
  font-family: "Barlow", sans-serif;
  color: #5a636c;
  line-height: 1.8em;
}
.client-testimonials > .opinion-box > h4 {
  color: #23303e;
  font-family: "Fraunces", sans-serif;
  font-weight: 900;
  margin: 0px;
}
.client-testimonials > .opinion-box > p {
  font-family: "Barlow", sans-serif;
  color: #a7abae;
}

@media (max-width: 420px) {
  .opinion-box > p {
    font-size: 15px;
  }
  .opinion-box > img {
    width: 85px;
  }
}
@media (max-width: 1440px) and (min-width: 420px) {
  .opinion-box > img {
    width: 85px;
  }
}
@media (min-width: 1440px) {
  .client-testimonials > h3 {
    font-size: 30px;
  }
  .client-testimonials > div > img {
    width: 125px;
  }
  .client-testimonials > div > blockquote {
    font-size: 18px;
  }
  .client-testimonials > div > h4 {
    font-size: 20px;
  }
}
.footer-footer {
  padding: 30px;
  background-color: #90d4c6;
}
.footer-footer > ol > a {
  color: #25564b;
  font-family: "Barlow", sans-serif;
}
.footer-footer > h2 {
  margin: 0px;
  text-align: center;
}
.footer-footer__social-medias {
  margin: 80px 0px 0px 0px;
  text-align: center;
}

@media (max-width: 420px) {
  .footer-list-img {
    height: 400px;
  }
  .footer-list-img > div {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .milk-bottles {
    background: url("../img/mobile/image-gallery-milkbottles.jpg");
  }

  .orange {
    background: url("../img/mobile/image-gallery-orange.jpg");
  }

  .cone {
    background: url("../img/mobile/image-gallery-cone.jpg");
  }

  .sugar {
    background: url("../img/mobile/image-gallery-sugar-cubes.jpg");
  }

  .footer-footer {
    height: 200px;
  }
  .footer-footer__nav {
    display: flex;
    justify-content: space-around;
  }
  .footer-footer__social-medias {
    text-align: center;
  }
  .footer-footer__social-medias > a {
    margin: 10px;
  }
}
@media (min-width: 420px) and (max-width: 1440px) {
  .footer-list-img {
    height: 300px;
  }
  .footer-list-img > div {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  .milk-bottles {
    background: url("../img/mobile/image-gallery-milkbottles.jpg");
  }

  .orange {
    background: url("../img/mobile/image-gallery-orange.jpg");
  }

  .cone {
    background: url("../img/mobile/image-gallery-cone.jpg");
  }

  .sugar {
    background: url("../img/mobile/image-gallery-sugar-cubes.jpg");
  }

  .footer-footer {
    height: 200px;
  }
  .footer-footer__nav {
    text-align: center;
  }
  .footer-footer__nav > a {
    margin: 20px;
  }
  .footer-footer__social-medias {
    text-align: center;
  }
  .footer-footer__social-medias > a {
    margin: 10px;
  }
}
@media (min-width: 1440px) {
  .footer-list-img > div {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .milk-bottles {
    background: url("../img/mobile/image-gallery-milkbottles.jpg");
  }

  .orange {
    background: url("../img/mobile/image-gallery-orange.jpg");
  }

  .cone {
    background: url("../img/mobile/image-gallery-cone.jpg");
  }

  .sugar {
    background: url("../img/mobile/image-gallery-sugar-cubes.jpg");
  }

  .footer-footer {
    height: 200px;
  }
  .footer-footer__nav {
    text-align: center;
  }
  .footer-footer__nav > a {
    margin: 20px;
    font-size: 17px;
    transition: all 120ms;
  }
  .footer-footer__nav > a:hover {
    color: white;
  }
  .footer-footer__social-medias {
    text-align: center;
  }
  .footer-footer__social-medias > a {
    margin: 10px;
  }
  .footer-footer__social-medias > a:hover {
    color: white;
  }

  .svg:hover path {
    fill: white;
  }
}
header {
  width: 100%;
  height: 490px;
  color: white;
  font-family: "Fraunces", serif !important;
  letter-spacing: 2px;
}

@media (max-width: 420px) {
  .top-site__nav {
    display: none;
  }

  header {
    background: url("../img/mobile/image-header.jpg") no-repeat;
    background-size: 100% 520px;
    padding-top: 30px;
  }

  .top-site {
    margin: 0px 20px 0px 20px;
  }
  .top-site__mobile {
    display: flex;
    justify-content: space-between;
  }
  .top-site__mobile > h1 {
    margin: 0px;
  }
  .top-site__mobile > .mobile-hamburger {
    margin-top: 6px;
  }
  .top-site__nav {
    margin-top: 40px;
    width: 100%;
  }

  .top-content > h2 {
    margin-top: 70px;
    font-size: 42px;
    text-align: center;
    letter-spacing: 5px;
  }
  .top-content > img {
    margin: 40px auto;
    display: block;
    text-align: center;
  }
}
@media (max-width: 1440px) and (min-width: 420px) and (max-width: 700px) {
  .top-site {
    display: flex;
    flex-direction: column;
  }
  .top-site__mobile {
    text-align: center;
  }
  .top-site__nav {
    margin: auto !important;
    width: 98% !important;
    text-align: center !important;
  }
}
@media (max-width: 1440px) and (min-width: 420px) {
  .top-site {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
  }
}
@media (max-width: 1440px) and (min-width: 420px) {
  .mobile-hamburger {
    display: none;
  }
}
@media (max-width: 1440px) and (min-width: 420px) {
  header {
    background: url("../img/desktop/image-header.jpg") no-repeat, #3dbeff;
    background-size: 950px 520px;
    background-position: bottom;
  }
}
@media (max-width: 1440px) and (min-width: 420px) {
  .top-site__mobile > h1 {
    margin-left: 30px;
  }
}
@media (max-width: 1440px) and (min-width: 420px) {
  .top-site__nav {
    margin: auto 40px;
    width: 70%;
    background: none;
    text-align: right;
  }
  .top-site__nav::after {
    border: none;
  }
  .top-site__nav > a {
    margin-left: 20px;
    font-family: "barlow", sans-serif;
    letter-spacing: 1px;
  }
  .top-site__nav__projects {
    margin-right: 10px;
  }
  .top-site__nav__contact {
    font-family: "fraunces", serif !important;
  }
}
@media (max-width: 1440px) and (min-width: 420px) {
  .top-content > h2 {
    font-size: 48px;
    text-align: center;
  }
  .top-content > img {
    margin: 40px auto;
    display: block;
  }
}
@media (min-width: 1440px) {
  .mobile-hamburger {
    display: none;
  }

  header {
    height: 955px;
    background: url("../img/desktop/image-header.jpg") no-repeat, #3dbeff;
    background-size: 1400px 800px;
    background-position: bottom;
    animation: animated-box-to-bottom 1000ms;
  }

  .arrow-anim {
    animation: animated-arrow 1s ease-in-out infinite alternate;
  }

  h1 {
    margin: 0px;
  }

  .top-site {
    display: flex;
    justify-content: space-between;
    padding: 40px;
  }
  .top-site__nav > a {
    margin-right: 20px;
  }

  .top-content > h2 {
    font-size: 48px;
    text-align: center;
    letter-spacing: 5px;
  }
  .top-content > img {
    display: block;
    margin: 100px auto;
  }
}
@media (max-width: 420px) {
  .mid-content {
    display: grid;
    grid-template-rows: 290px 380px 290px 380px 580px 580px;
    grid-template-columns: 100%;
  }
  .mid-content__one {
    order: 2;
  }
  .mid-content__two {
    order: 1;
  }
  .mid-content__three {
    order: 4;
  }
  .mid-content__four {
    order: 3;
  }
  .mid-content > .article-design__one {
    order: 5;
  }
  .mid-content > .article-design__two {
    order: 6;
  }
  .mid-content__text {
    padding: 20px;
  }
  .mid-content__text > a {
    margin-top: 20px;
  }
}
@media (min-width: 420px) and (max-width: 1440px) {
  .mid-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px 500px;
  }
  .mid-content__text {
    margin: auto 50px auto 50px;
  }
  .mid-content__one {
    order: 1;
  }
  .mid-content__two {
    order: 2;
  }
  .mid-content__three {
    order: 4;
  }
  .mid-content__four {
    order: 3;
  }
  .mid-content > .article-design__one {
    order: 5;
  }
  .mid-content > .article-design__two {
    order: 6;
  }
}
@media (min-width: 1440px) {
  .mid-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 700px 700px 700px;
  }
  .mid-content__one {
    order: 1;
  }
  .mid-content__two {
    order: 2;
  }
  .mid-content__three {
    order: 4;
  }
  .mid-content__four {
    order: 3;
  }
  .mid-content > .article-design__one {
    order: 5;
  }
  .mid-content > .article-design__two {
    order: 6;
  }
}
.client-testimonials {
  margin-top: 70px;
}

@media (max-width: 420px) {
  .opinion-box {
    margin: 50px 0px 80px;
  }
}
@media (max-width: 1440px) and (min-width: 420px) {
  .opinion-box {
    margin: 50px 30px 80px 30px;
  }
}
@media (min-width: 1440px) {
  .client-testimonials {
    display: grid;
    grid-template-rows: 150px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 100px;
  }
  .client-testimonials > h3 {
    grid-row: 1/2;
    grid-column: 1/4;
  }
  .client-testimonials > .opinion-box__one {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .client-testimonials > .opinion-box__two {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .client-testimonials > .opinion-box__tree {
    grid-row: 2/3;
    grid-column: 3/4;
  }
}
@media (max-width: 420px) {
  .footer-list-img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .milk-bottles {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .orange {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .cone {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .sugar {
    grid-row: 2/3;
    grid-column: 2/3;
  }
}
@media (max-width: 1440px) and (min-width: 420px) {
  .footer-list-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px;
  }

  .milk-bottles {
    grid-column: 1/2;
  }

  .orange {
    grid-column: 2/3;
  }

  .cone {
    grid-column: 3/4;
  }

  .sugar {
    grid-column: 4/5;
  }
}
@media (min-width: 1440px) {
  .footer-list-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 450px;
  }

  .milk-bottles {
    grid-column: 1/2;
  }

  .orange {
    grid-column: 2/3;
  }

  .cone {
    grid-column: 3/4;
  }

  .sugar {
    grid-column: 4/5;
  }
}

/*# sourceMappingURL=styles.css.map */
