// -- HEADER --

//MOBILE
@media (max-width: $mobile){
  .top-site__nav__contact{
    border-radius: 30px;
    background-color: $Yellow;
    color: black!important;
    font-family: 'Fraunces', serif!important;
    padding: 15px;
    font-weight: 900;
  }
}

//DESKTOP
@media (min-width: $mobile){
  .top-site__nav__contact{
    width: 140px;
    background-color: rgba(120, 210, 254, 0.5);
    padding: 15px 25px 15px 25px;
    border-radius: 25px;
  }
}

// -- ANIMATIONS [ DESKTOP ] --

@media (min-width: $desktop) {
  .top-site__nav{
    &__about{
      display: inline-block;
      @include hover-top-btn($Soft-red, 61px);
    }
    &__services{
      display: inline-block;
      @include hover-top-btn($Yellow, 84px);
    }
    &__projects{
      display: inline-block;
      @include hover-top-btn(rgb(117, 218, 134), 85px);
    }
    &__contact{
      transition: all 200ms;
      color: black;
      background: linear-gradient(to left, white 50%, rgb(27, 150, 211) 50%) right;
      background-size: 200% 100%;
      &:hover{
        background-position: left;
        color: white;
      }
    }
  }
}