@media (min-width: $desktop) {

  //ANIMATIONS APPARITION BOX

  .mid-content__one, .mid-content__four, .article-design__one{
    animation: animated-box-to-right 1s ease-in-out;
  }
  .mid-content__two, .mid-content__three, .article-design__two{
    animation: animated-box-to-left 1s ease-in-out;
  }
  .mid-content{
    &__one{
      animation-delay: 60ms;
    }
    &__two{
      animation-delay: 120ms;
    }
    &__three{
      animation-delay: 180ms;
    }
    &__four{
      animation-delay: 240ms;
    }
  }
  .article-design{
    &__one{
      animation-delay: 300ms;
    }
    &__two{
      animation-delay: 360ms;
    }
  }
    // TWO FIRST TEXT CENTRAL BOX
  .mid-content__text {
    padding: 100px 120px;
    & > h3{
      font-size: 52px;
      text-align: left;
    }
    & > p{
      font-size: 20px;
    }
    & > a{
      & > div{
        width: 120px;
        height: 10px;
        border-radius: 5px;
        top: 29px;
        left: -2px;
        transition: all 160ms ease-in-out;
      }
    }
  }
  .btn-learn-more__one {
    @include hover-mid-btn();
  }
  .btn-learn-more__two {
    @include hover-mid-btn();
  }

  // TWO FIRST IMG CENTRAL BOX

  .egg-img {
    background: url("../img/desktop/image-transform.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }
  .cup-img {
    background: url("../img/desktop/image-stand-out.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }

  //TWO SECOND TEXT / IMG BOX
  .article-design {
    background-position: center !important;
    background-size: cover !important;
    padding: 150px 200px;
    & > h3{
      margin-top: 330px;
      font-size: 32px;
    }
    & > p{
      font-size: 18px;
    }
    &__one {
      background: url("../img/desktop/image-graphic-design.jpg");
    }

    &__two {
      background: url("../img/desktop/image-photography.jpg");
    }
  }
}

//ULTRA WIDE [ OFF ]
//@media (min-width: 2800px){
//  .egg-img, .cup-img{
//    background-size: contain;
//  }
//  .egg-img{
//    background-color: rgb(255, 209, 1);
//  }
//  .cup-img{
//    background-color: rgb(252, 109, 95);
//  }
//  .article-design{
//    background-size: contain!important;
//    background-repeat: no-repeat;
//  }
//  .article-design__one{
//    background-color: rgb(150, 216, 204);
//  }
//  .article-design__two{
//    background-color: rgb(82, 206, 255);
//  }
//}