// TWO FIRST TEXT CENTRAL BOX
.mid-content{
  &__text{
    background-color: white;
    display: block;
    & > P{
      font-family: "Barlow", sans-serif;
      line-height: 1.5em;
      color: $Very-dark-grayish-blue;
    }
    & > h3{
      text-align: center;
      color: $Very-dark-desaturated-blue;
      font-family: "Fraunces", serif;
      font-weight: 900;
    }
    & > a {
      color: $Very-dark-desaturated-blue;
      display: block;
      text-align: center;
      font-family: "Fraunces", serif;
      font-weight: 900;
      position: relative;
      & > p{
        position: absolute;
        z-index: 20;
      }
      & > div{
        z-index: 10;
        position: absolute;
        border-radius: 5px;
      }
    }
  }
}
.btn-learn-more__one > div{
  background-color: yellow;
}
.btn-learn-more__two > div{
  background-color: pink;
}

// TWO FIRST IMG CENTRAL BOX
.mid-content__img{
  background-position: center!important;
  background-size: cover!important;
}
.egg-img{
  background: url("../img/mobile/image-transform.jpg");
}
.cup-img{
  background: url("../img/mobile/image-stand-out.jpg");
}

//TWO SECOND TEXT / IMG BOX
.article-design{
  & > h3{
    text-align: center;
    color: $Very-dark-desaturated-blue;
    font-family: "Fraunces", serif;
    font-weight: 900;
  }
  & > p{
    font-family: "Barlow", sans-serif;
    text-align: center;
    line-height: 1.5em;
    color: $Very-dark-grayish-blue;
  }
  & > .cherry-p{
    color: $Dark-desaturated-cyan;
  }
  & > .orange-p{
    color: $Very-dark-desaturated-blue;
  }

}