@media (max-width: $mobile){

  // TWO FIRST TEXT CENTRAL BOX
  .mid-content__text{
    width: auto;
    & > p{
      text-align: center;
    }
    & > h3{
      font-size: 32px;
    }
    text-align: center;
  }



  // TWO FIRST IMG CENTRAL BOX

  .egg-img{
    background: url("../img/mobile/image-transform.jpg");
  }
  .cup-img{
    background: url("../img/mobile/image-stand-out.jpg");
  }
  .mid-content__img{
    background-position: center!important;
    background-size: cover!important;
  }

  //TWO SECOND TEXT / IMG BOX
  .article-design{
    background-position: top !important;
    background-size: cover !important;
    padding: 20px;
    & > h3{
      margin-top: 350px;
      font-size: 32px;
    }
    &__one {
      background: url("../img/mobile/image-graphic-design.jpg");
    }
    &__two {
      background: url("../img/mobile/image-photography.jpg");
    }
  }
}