.lang{
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-size: contain;
}

#EN{
  background-image: url('../img/royaume-uni.png');
}
#FR{
  background-image: url('../img/france.png');
}