@mixin hover-top-btn($colour: yellow){
    position: relative;
  & > span{
    z-index: 10;
    position: relative;
  }
  &::after{
    transition: all 170ms ease-in-out;
    content: '';
    display: block;
    transform-origin: left;
    width: 0%;
    height: 5px;
    position: absolute;
    border-radius: 5px;
    top: 14px;
    background-color: $colour;
    opacity: 0.8;
  }
  &:hover{
    &::after{
      width: 100%;
    }
  }
}

@mixin hover-mid-btn(){
      transform: scaleX(3.3) scaleY(3.3);
      border-radius: 50%;
      width: 15px;
      height: 15px;
}

@keyframes animated-arrow{
  0%{
    transform: translateY(-20%);
  }
  100%{
    transform: translateY(50%);
  }
}

@keyframes animated-box-to-bottom{
  0%{
    transform: translateY(-50%);
  }
  100%{
    transform: translateY(0%);
  }
}

//ANIMATIONS APPARITION
@media (min-width: $desktop) {
  .reveal-left {
    transform: scale(0.7);
    opacity: 0;
    transition: all 900ms ease-out;
  }
  .reveal-right {
    transform: scale(0.7);
    opacity: 0;
    transition: all 900ms ease-out;
  }
  .testimonialsTitle {
    transform: scale(0.8);
    opacity: 0;
    transition: all 900ms;
  }
  .opinion-box {
    transform: scale(0.5);
    opacity: 0;
    transition: all 900ms;
  }
  .cone {
    transition: all 800ms;
    transform: translateX(-900px);
    opacity: 0;
  }
  .orange {
    transition: all 800ms;
    transform: translateX(900px);
    opacity: 0;
  }
  .sugar {
    transition: all 800ms;
    transform: scale(0.5);
    opacity: 0;
  }
  .milk-bottles {
    transition: all 800ms;
    transform: translateX(-200px);
    opacity: 0;
  }
  .footer-footer {
    transition: all 800ms;
    transform: scale(0.8);
    opacity: 0;
  }
  .reveal-visible {
    transform: translateX(0px) translateY(0px) scale(1);
    visibility: visible;
    display: block;
    opacity: 1;
  }
}