// -- GENERAL --

// -- MOBILE --
@media (max-width: $mobile){
  .mid-content{
    &__one{
      order: 2;
    }
    &__two{
      order: 1;
    }
    &__three{
      order: 4;
    }
    &__four{
      order: 3;
    }
    & > .article-design__one{
      order: 5;
    }
    & > .article-design__two{
      order: 6;
    }
    display: grid;
    grid-template-rows: 290px 380px 290px 380px 580px 580px;
    grid-template-columns: 100%;
    &__text{
      padding: 20px;
      & > a {
        margin-top: 20px;
      }
    }
  }
}

// -- TABLET --
@media (min-width: $mobile) and (max-width: $desktop){
  .mid-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px 500px;
    &__text{
      margin: auto 50px auto 50px;
    }
    &__one{
      order: 1;
    }
    &__two{
      order: 2;
    }
    &__three{
      order: 4;
    }
    &__four{
      order: 3;
    }
    & > .article-design__one{
      order: 5;
    }
    & > .article-design__two{
      order: 6;
    }
  }
}